<% wear = wear_order.wear %>
<div class="js-wear-order flex gap-4 border-solid border-b border-gray-300 py-4">
  <div>
    <%= image_tag wear.image_name, class: "w-24 min-w-28" %>
  </div>
  <div class="flex flex-col">
    <h5><%= link_to wear.full_name, wear_path(wear), class: "hover:text-blue-700 hover:underline", data: { turbo: false } %></h5>
    <div class="flex flex-col gap-6 mt-3">
      <%= render wear_order.wear_order_detail_sizes.order(:created_at) %>
    </div>
  </div>
</div>
