<div class="mt-8 block-wrapper">
  <div>
    <h3 class="mb-3">Опис</h3>
    <p><%= @wear.description %> </p>
  </div>
  <div class="mt-6">
    <h3 class="mb-3">Оплата</h3>
    <p>
      Ми пропонуємо такі форми оплати при купівлі товарів:
      <ul>
        <li class="ml-4">- Післяплата на "Нова Пошта" - здійснюється безпосередньо на відділенні Нової Пошти після огляду товару.</li>
        <li class="ml-4">- Оплата за реквізитами - після оформлення замовлення на сайті з вами зв'яжеться менеджер і перешле вам зручні дані до оплати.</li>
      </ul>
    </p>
  </div>
  <div class="mt-6">
    <h3 class="mb-3">Доставка</h3>
    <p>
      Як тільки оплата надходить на наш розрахунковий рахунок (як правило, протягом 24 годин) заявка на комплектацію замовлення передається на основний склад компанії. Максимальний термін комплектації товару становить до 14 календарних днів залежно від групи товару.
      У випадку індивідуального пошиття виробів до 21 робочого дня.
      Доставка здійснюється по всій території України компанією-перевізником Нова Пошта. Замовлений Вами товар страхується на 100% від його вартості, ви можете не турбуватися за збереження товару. Наша команда працює над тим, щоб Ви були задоволені!
    </p>
  </div>
</div>
