<div class="container">
  <div class="flex">
    <%= link_to root_path, class: "p-2 hover:bg-blue-400 transition rounded-md w-fit flex flex-col" do %>
      <h4> BREAUX </h4>
      <p> Спецодяг під ключ </p>
    <% end %>
    <div class="ml-20 flex gap-5 items-center">
      <%= link_to "Головна", root_path, class: "default-link text-blue-600 text-lg" %>
      <%= link_to "Доставка", delivery_info_pages_path, class: "default-link text-blue-600 text-lg" %>
      <%= link_to "Оплата", payment_info_pages_path, class: "default-link text-blue-600 text-lg" %>
    </div>
  </div>
</div>
