<%= turbo_frame_tag :checkout_page do %>
  <div class="text-center my-52">
    <h3 class='mb-5'> Ваше замовлення успішно приняте </h3>
    <h5> очікуйте на дзвінок від менеджера для остаточного підтвердження. </h5>
  </div>
<% end %>
