<div class="mt-6">
  <h3 class="mb-3">Оплата</h3>
  <p>
    Ми пропонуємо такі форми оплати при купівлі товарів:
    <ul>
      <li class="ml-4">- Післяплата на "Нова Пошта" - здійснюється безпосередньо на відділенні Нової Пошти після огляду товару.</li>
      <li class="ml-4">- Оплата за реквізитами - після оформлення замовлення на сайті з вами зв'яжеться менеджер і перешле вам зручні дані до оплати.</li>
    </ul>
  </p>
</div>
