<% size = wear_order_detail_size %>

<div class="flex gap-10">
  <div>
    <p> Розмір: </p>
    <p class="font-semibold">
      <%= render partial: "wear_order_detail_sizes/size", locals: { size: size } %>
    </p>
  </div>
  <div>
    <p> Ціна за одиницю: </p>
    <p class="font-semibold whitespace-nowrap"><%= size.wear_order.wear_price.to_s + " ₴" %></p>
  </div>
  <div>
    <p> Кількість: </p>
    <div class="flex gap-3">
      <p> <%= size.quantity %> </p>
    </div>
  </div>
  <div>
    <p> Вартість: </p>
    <p class="font-semibold whitespace-nowrap"><%= size.order_price.to_s + " ₴" %></p>
  </div>
</div>
