<% checkbox_name = "#{subcategory.class.to_s.downcase}_#{subcategory.to_s[10..30]}" %>
<% current_field_parameter = params[subcategory.class.to_s.downcase] || [] %>

<div>
  <%= radio_button_tag "#{subcategory.class.to_s.downcase}", subcategory.title, current_field_parameter.include?(subcategory.title), id: checkbox_name, data: { action: "filters#submit" } %>
  <%= label_tag checkbox_name, subcategory.title %>
</div>
